.navbar{
    background-color: var(--theme);
    padding: 0.5rem 1rem;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color:var(--white);
    font-Weight:600; 
    font-Size:1.2rem;
}

.link{
    opacity: 0.6;
    cursor: pointer;
}

.link:hover{
    opacity: 0.8;
    transition: all 0.3;
}